
        <div class="container">
            <p>Photos by Matt Botsford,Aaron Burden,</p>
                <p>Relentless Church, Tim Marshall</p>
                <p>and Jeremy Perkins on <a href="http://unsplash.com">Unsplash</a></p>
            <p>Trademark 2018 by Michael Hibbard.</p>
        </div>
        
        <script type="text/javascript" src="app.js"></script>
        <section class="footer">
            <div class="container">
                <h3 class="p-2">Connect With Us</h3>
                    <p class="p-2">Curious about who we are and what we do?  
                        We’d love for you to explore The Grove using our social media.  
                        We extend our core values, our Scriptural Calling, and our 
                        mission and vision into our social media networks, so you can
                         get a good idea of what we are about.</p>
            </div>
            <div class="container">
                <a href="http://youtube.com">
                    <i class="youtube icon"></i>
                </a>
                <a href="http://facebook.com">
                    <i class="facebook icon"></i>
                </a>
                <a href="http://instagram.com">
                    <i class="instagram icon"></i>
                </a>
                <a href="http://twitter.com">
                    <i class="twitter icon"></i>
                </a>
                <a href="http://vimeo.com">
                    <i class="vimeo icon"></i>
                </a>
                <a href="http://google.com">
                    <i class="google plus icon"></i>
                </a>
            </div>
        </section>
    </body>
</html>
