
<!DOCTYPE html>
<html>
	<head>
		<title>Grove Community Church</title>
		<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
		<link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		crossorigin="anonymous"></script>
		<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light justify-content-between" style="background-color: #4c9d2f;">
			<!-- Navbar content -->
			<div class="container">
				<nav class="navbar navbar-expand-lg navbar-light">
					<a class="navbar-brand" href="/">The Grove</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" 
						aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">

						<span class="navbar-toggler-icon"></span>
					</button>
					
					<div class="collapse navbar-collapse" id="navbarToggler">
						<ul class="navbar-nav mr-auto mt-2 mt-lg-0" id="nav-left">
							<li class="nav-item active">
								<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" 
									role="button" data-toggle="dropdown" aria-haspopup="true" 
									aria-expanded="false">

									About
								</a>
								<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
									<a class="dropdown-item" href="#">Belief Statement</a>
									<a class="dropdown-item" href="#">Denomination</a>
									<a class="dropdown-item" href="#">ORPAC</a>
									<a class="dropdown-item" href="#">Coffeehouse</a>
								</div>
							</li> <!-- Close dropDown link item-->
							<li class="nav-item">
								<a class="nav-link" href="#">Contact Us</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Hours of Operation</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Donate</a>
							</li>
						</ul>
					</div>
				</nav>
			</div> <!-- containter div closing-->
		</nav>