<% include ./partials/header %>
<div class="container">
    <h1>Welcome to the about page!</h1>

    <p>
    Our Vision, Mission and Call:
    our vision…
    At The Grove, we believe that a VISION is what you hope to see happen in the lives of people as you engage in the community.  The Grove’s mission is this: “INSPIRING PEOPLE TO FLOURISH THROUGH A PASSION FOR JESUS CHRIST!”
    
    our mission…
    We believe that a MISSION is what you are committed to DOING as you engage in the community.  The Grove’s mission is this: “WE EXIST TO REACH OUR COMMUNITY SO WE CAN INSPIRE PEOPLE TO FLOURISH THROUGH THE VIBRANT AND ABUNDANT LIFE CHRIST HAS EXTENDED TO EVERYONE (EPHESIANS 3:16-18) AND THROUGH THE EXPERIENCE AND PASSION OF A LIFE FULLY DEVOTED TO GOD THROUGH THE POWER OF JESUS AND THE Holy Spirit (EPHESIANS 3:19-21).”
    
    our call…
    At The Grove, we believe that we are called to live out God’s Word in the world through and in our community.  Our call to our community is based on Ephesians 3:14-21.  Below is a look at this passage of Scripture, and what we believe God has called us to do in response to His word.
    
    Verse 14: “For this reason I kneel before the Father…”
    Our response: WE ARE CALLED TO PRAY FIRST!
    
    Verse 15: “From whom every family in heaven and on earth derives its name…”
    Our Response: WE ARE CALLED TO SEE THE VALUE IN EVERYONE!
    
    Verse 16: “I pray that out of his glorious riches he may strengthen you with power through His Spirit in your inner being…”
    Our Response: WE ARE CALLED TO BELIEVE THAT JESUS CHANGES EVERYTHING!
    
    Verse 17: “So that Christ may dwell in your hearts through faith.  And I pray that you, being rooted and established in love…”
    Our Response: WE ARE CALLED TO KNOW GOD THROUGH A RELATIONSHIP WITH JESUS!
    
    Verse 18: “May have power, together with all the Lord’s holy people, to grasp how wide and long and high and deep is the love of Christ…”
    Our Response: WE ARE CALLED TO EXPRESS CHRIST’S LOVE THROUGH COMMUNITY!
    
    Verse 19: “And to know this love that surpasses knowledge — that you may be filled to the measure of all the fullness of God…”
    Our Response: WE ARE CALLED TO GIVE GOD OUR WHOLE HEART!
    
    Verse 20: “Now to him who is able to do immeasurably more than all we ask or imagine, according to his power that is at work within us…”
    Our Response: WE ARE CALLED TO HAVE BIG FAITH!
    
    Verse 21: “To him be glory in the church and in Christ Jesus throughout all generations, for ever and ever!  Amen!”
    Our Response: WE ARE CALLED TO FOCUS ON WHAT MATTERS!
    
    [ALL SCRIPTURE USED IS FROM THE NEW INTERNATIONAL VERSION]
    </p>

    <a tabindex="0" class="btn btn-lg btn-danger" role="button" data-toggle="popover" data-trigger="focus" title="Don't Click this!!" data-content="And here's some amazing content. It's very engaging. Right?">Dismissible popover</a>
</div>

<% include ./partials/footer %>