<% include ./partials/header %>
<div class="container">
    <h1>Our Vision, Mission and Call:</h1>
    <h3>our vision…</h3>
        <p>At The Grove, we believe that a VISION is what you hope to see happen in the lives of people as you engage in the community.  The Grove’s mission is this: “INSPIRING PEOPLE TO FLOURISH THROUGH A PASSION FOR JESUS CHRIST!”</p>
    <h3>our mission…</h3>
        <p>We believe that a MISSION is what you are committed to DOING as you engage in the community.  The Grove’s mission is this: “WE EXIST TO REACH OUR COMMUNITY SO WE CAN INSPIRE PEOPLE TO FLOURISH THROUGH THE VIBRANT AND ABUNDANT LIFE CHRIST HAS EXTENDED TO EVERYONE (EPHESIANS 3:16-18) AND THROUGH THE EXPERIENCE AND PASSION OF A LIFE FULLY DEVOTED TO GOD THROUGH THE POWER OF JESUS AND THE Holy Spirit (EPHESIANS 3:19-21).”</p>
    
    <h3>our call…</h3>
        <p>The Grove, we believe that we are called to live out God’s Word in the world through and in our community.  Our call to our community is based on Ephesians 3:14-21.  Below is a look at this passage of Scripture, and what we believe God has called us to do in response to His word.</p>
   
    <hr class="my-4">
    <div class="continer">
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <h5 class="card-header">Ephesians</h5>
                    <div class="card-body">
                        <h5 class="card-title">Verse 14</h5>
                        <p class="card-text">"For this reason I kneel before the Father..."</p>
                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#cardOne" aria-expanded="false" aria-controls="cardOne">
                            Our Response:
                        </button>
                    </div>
                    <div class="collapse" id="cardOne">
                        <div class="card card-body">
                            We are called to pray first!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <p>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#verseFourteen" aria-expanded="false" aria-controls="verseFourteen">
                        Verse 14: “For this reason I kneel before the Father...”
                    </button>
                </p>
                <div class="collapse" id="verseFourteen">
                    <div class="card card-body">
                        Our response: WE ARE CALLED TO PRAY FIRST!
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <p>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#verseFifteen" aria-expanded="false" aria-controls="verseFifteen">
                        Verse 15: “From whom every family in heaven and on earth derives its name…”
                    </button>
                </p>
                <div class="collapse" id="verseFifteen">
                    <div class="card card-body">
                        Our Response: WE ARE CALLED TO SEE THE VALUE IN EVERYONE!
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <p>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#verseSixteen" aria-expanded="false" aria-controls="verseSixteen">
                        Verse 16: “I pray that out of his glorious riches he may strengthen you with power through His Spirit in your inner being…”
                    </button>
                </p>
                <div class="collapse" id="verseSixteen">
                    <div class="card card-body">
                        Our Response: WE ARE CALLED TO BELIEVE THAT JESUS CHANGES EVERYTHING!
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">

    </div>
    
    <div class="container">
        <p>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#verseSeventeen" aria-expanded="false" aria-controls="verseSeventeen">
                Verse 17: “So that Christ may dwell in your hearts through faith.  And I pray that you, being rooted and established in love…”
            </button>
        </p>
        <div class="collapse" id="verseSeventeen">
            <div class="card card-body">
                Our Response: WE ARE CALLED TO KNOW GOD THROUGH A RELATIONSHIP WITH JESUS!
            </div>
        </div>
    </div>
    
    <div class="container">
        <p>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#verseEighteen" aria-expanded="false" aria-controls="verseEighteen">
                Verse 18: “May have power, together with all the Lord’s holy people, to grasp how wide and long and high and deep is the love of Christ…”
            </button>
        </p>
        <div class="collapse" id="verseEighteen">
            <div class="card card-body">
                Our Response: WE ARE CALLED TO EXPRESS CHRIST’S LOVE THROUGH COMMUNITY!
            </div>
        </div>
    </div>

    <div class="container">
        <p>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#verseNineteen" aria-expanded="false" aria-controls="verseNineteen">
                Verse 19: “And to know this love that surpasses knowledge — that you may be filled to the measure of all the fullness of God…”
            </button>
        </p>
        <div class="collapse" id="verseNineteen">
            <div class="card card-body">
                Our Response: WE ARE CALLED TO GIVE GOD OUR WHOLE HEART!
            </div>
        </div>
    </div>

    <div class="container">
        <p>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#verseTwenty" aria-expanded="false" aria-controls="verseTwenty">
                Verse 20: “Now to him who is able to do immeasurably more than all we ask or imagine, according to his power that is at work within us…”
            </button>
        </p>
        <div class="collapse" id="verseTwenty">
            <div class="card card-body">
                Our Response: WE ARE CALLED TO HAVE BIG FAITH!
            </div>
        </div>
    </div>
    
    <div class="container">
        <p>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#verseTwentyOne" aria-expanded="false" aria-controls="verseTwentyOne">
                Verse 21: “To him be glory in the church and in Christ Jesus throughout all generations, for ever and ever!  Amen!”
            </button>
        </p>
        <div class="collapse" id="verseTwentyOne">
            <div class="card card-body">
                Our Response: WE ARE CALLED TO FOCUS ON WHAT MATTERS!
            </div>
        </div>
    </div>
    
    <p>
        [ALL SCRIPTURE USED IS FROM THE NEW INTERNATIONAL VERSION]
    </p>

    <a tabindex="0" class="btn btn-outline-info" role="button" data-toggle="popover" data-trigger="focus" title="Did you know that The Grove is associated with the church of the Nazarene?" data-content="You can find out more information on the church of the nazarene by clicking the link on the navbar about dropdown.">Click for Fun Fact</a>
</div>

<% include ./partials/footer %>