
<% include ./partials/header %>
<div class="container">
    <h2>The views html file</h2>
</div>

<ul class="slideshow">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>

<% include ./partials/footer %>