
<% include ./partials/header %>
<div class="container">
    <div class="jumbotron" id="home-header">
        <h2>Welcome to Your Grove</h2>
    </div>
</div>
<div class="main">
    <ul class="slideshow">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<div class="container-fluid" id="white-back">
    <section class="connect">
        <div class="container">
            <p>Come click a link to see the thing <a class="btn btn-outline-info" href="/about" role="button">here.</a></p>
        </div>
    </section>
</div>
<% include ./partials/footer %>