<% include ./partials/header %>

   
<div class="container">
    <div class="jumbotron" id="hero">
        <h1 class="display-4">Thanks for Visiting!</h1>
        <p class="lead">The Grove Community Church website is currently under construction, please come back later.</p>
        <hr class="my-4">
        <i class="fa fa-cogs fa-4x" aria-hidden="true"></i>
    </div>
</div>
<div class="container-fluid rounded color-mask">
    <img class="img-fluid d-block mx-auto rounded" src="/images/aaron-burden-287555-unsplash.jpg" alt="Bible">
    <div class="splash-page__img-title">Join us: Sunday 10:15 am or 6:30 pm</div>
</div>




<script type="text/javascript" src="app.js"></script>


<% include ./partials/footer %>