body{
    font-family: "Fjalla One", sans-serif;
    letter-spacing: 1px;
    background-color: #fff;
}


.jumbotron {
	background-color: transparent;
}

#white-back {
	height: 300px;
	width: 100%;
	text-align: center;
	padding: 45px 0;
	border-radius: 5px;
	background-color: #fff;
}

.btn-outline-info:hover{
	background-color: #4c9d2f; 
}

/* Slideshow Styles/Animation */

#home-header{
	z-index: 1;
	position: relative;
	text-align: center;
	padding-top: 40vh;
}

div#slideshow.carousel {
	z-index: 0;
	position: fixed;

}